.main {

    .main-content {
        height: 100%;

        .content-add-btn {
            margin: 1.5rem 0 0 3rem;

            button {
                font-family: 'Montserrat', sans-serif;
                font-size: 0.75rem;
                font-weight: 600;
                letter-spacing: 0.0125rem;
                color: $white;
                outline: none;
                border: 2px solid $blue;
                border-radius: 38px;
                background: $blue;
                padding: 0.2rem 1rem;
                vertical-align: baseline;
                cursor: pointer;

                img {
                    width: 1.2rem;
                    height: 1.2rem;
                }

            }
        }

        .content-details {

            .details-header {
                display: grid;
                grid-template-columns: 10% 90%;
                grid-template-rows: repeat(4, 1fr);
                padding: 0 1rem;
                margin-top: 3rem;

                .checkbox {
                    grid-row: 1 / 5; 
                    margin: auto;

                    input[type="checkbox"] {
                        height: 1rem;
                        width: 1rem;
                        appearance: none;
                        border: 2px solid $white;
                        border-radius: 3px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    input[type="checkbox"]::after {
                        content: "\f00c";
                        font-family: "Font Awesome 5 Free";
                        font-size: 0.5rem;
                        font-weight: 600;
                        color: $white;
                        display: none;
                    }

                    input[type="checkbox"]:checked::after {
                        display: block;
                    }
                }

                .name, .email, .phone, .source {
                    font-family: 'Nunito', sans-serif;
                    font-size: 0.875rem;
                    font-weight: 400;
                    border-bottom: 0.5px solid $white;
                    padding: 0.5rem;
                }

                .phone, .source {
                    grid-column: 2;
                }
            }

            .details-item {
                display: grid;
                grid-template-columns: 10% 90%;
                grid-template-rows: repeat(4, 1fr);
                padding: 0 1rem;
                margin-top: 2rem;

                .checkbox {
                    grid-row: 1 / 5;
                    margin: auto;

                    input[type="checkbox"] {
                        height: 1rem;
                        width: 1rem;
                        appearance: none;
                        border: 2px solid $white;
                        border-radius: 3px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    
                    input[type="checkbox"]::after {
                        content: "\f00c";
                        font-family: "Font Awesome 5 Free";
                        font-size: 0.5rem;
                        font-weight: 600;
                        color: $white;
                        display: none;
                    }

                    input[type="checkbox"]:checked::after {
                        display: block;
                    }
                }

                .name, .email, .phone, .source {
                    font-family: 'Nunito', sans-serif;
                    font-size: 0.875rem;
                    font-weight: 400;
                    padding: 0.5rem;
                }

                .name {
                    display: flex;
                    align-items: center;

                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .main {

        .main-content {
            height: 100vh;

            .content-add-btn {
                margin: 1.5rem 0 0 4.75rem;
    
                button {
                    font-size: 0.875rem;
                    padding: 0.5rem 2.25rem;
                    cursor: pointer;
                    transition: all 0.5s ease-out;
    
                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                        vertical-align: bottom;
                        margin-left: 0.625rem;
                    }

                    &:hover {
                        color: $blue;
                        border: 2px solid $white;
                        background-color: $white;
                        transition: all 0.4s ease-in-out;

                        img {
                            background-color: $blue;
                        }
                    }
    
                }
            }
    
            .content-details {
    
                .details-header {

                    .checkbox {

                        input[type=checkbox] {
                            height: 1rem;
                        }
                    }
    
                    .name, .email, .phone, .source {
                        font-size: 1.0625rem;
                    }
    
                }
    
                .details-item {
    
                    .checkbox {

                        input[type=checkbox] {
                            height: 1rem;
                        }
                    }

                    .name, .email, .phone, .source {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .main {

        .main-content {
    
            .content-add-btn {
                margin: 1.5rem 0 0 4.75rem;
    
                button {
                    font-size: 0.875rem;
                    padding: 0.5rem 2.25rem;
                    cursor: pointer;
                    transition: all 0.5s ease-out;
    
                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                        vertical-align: bottom;
                        margin-left: 0.625rem;
                    }
                }
            }
    
            .content-details {
    
                .details-header {
                    display: grid;
                    grid-template-columns: 8% 26% 35% 17% 15%;
                    grid-template-rows: unset;
                    margin: 1.5rem 4.75rem 0;
                    padding: 0;

                    .checkbox {
                        width: 100%;
                        height: 100%;
                        border-bottom: 0.5px solid $white;
                        text-align: center;

                        input {
                            width: 100%;
                            margin: 0.8rem auto 0;
                            vertical-align: bottom;
                        }
                    }
    
                    .phone, .source, .checkbox {
                        grid-column: unset;
                        grid-row: unset;
                    }

                    .phone, .source, .email, .name {
                        padding-left: 1rem;
                        border-left: 0.5px solid $white;
                    }
    
                }
    
                .details-item {
                    display: grid;
                    grid-template-columns: 8% 26% 35% 17% 15%;
                    grid-template-rows: unset;
                    margin: 0.5rem 4.75rem 0;
                    padding: 0;

                    .checkbox {
                        width: 100%;
                        height: 100%;
                        text-align: center;

                        input {
                            width: 100%;
                            margin: 1.4rem auto 0;
                            vertical-align: bottom;
                        }
                    }
    
                    .phone, .source, .checkbox {
                        grid-column: unset;
                        grid-row: unset;
                    }

                    .phone, .source, .email {
                        padding: 1.125rem 0 1.125rem 1rem;
                    } 

                    &:hover {
                        background-color: $black-2;
                        border-radius: 36px;
                    }

                    .name {
                        display: flex;
                        align-items: center;
                        padding: 0.625rem 0 0.625rem 1rem;

                        img {
                            width: 2.25rem;
                            height: 2.25rem;
                        }
                    }
                }

                .first-item {
                    margin-top: 1.5rem;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .main {

        .main-content {
    
            .content-details {
    
                .details-header {

                    .phone, .source, .email, .name {
                        padding-left: 3.25rem;
                        border-left: 0.5px solid $white;
                    }
                }
    
                .details-item {

                    .phone, .source, .email {
                        padding: 1.125rem 0 1.125rem 3.25rem;
                    }  

                    .name {
                        padding: 0.625rem 0 0.625rem 3.25rem;
                    }
                }
            }
        }
    }
}