.sidebar {
    width: 12.5%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    transition: left 1s ease-in-out;
    background-color: #4D64DA;

    .overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(91,91,91,0.6);

        .sidebar-header {

            .header-avatar {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 1rem;
                
                .avatar-pic {
                    width: 1.8rem;
                    height: 1.8rem;
                    background-color: #FFFFFF;
                    border-radius: 50%;  
                    cursor: pointer;
                }

                h6 {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 0.75rem;
                    font-weight: 600;
                    color: #FFFFFF;
                    letter-spacing: 0.0125rem;
                    line-height: 1.0625rem;
                    margin-top: 0.5rem;
                }
            }

            .header-menu {
                display: none;
            }
        }

        .sidebar-main {
            margin-top: 5rem;

            .main-content {
                display: flex;
                justify-content: center;
                align-items: center;

                .content-icon {
                  
                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }

                h5 {
                    display: none;
                }
            }

            .main-content:first-child {
                margin-bottom: 2rem;
            }
        }

        .close-btn {
            position: absolute;
            bottom: 1%;
            left: 35%;
            color: white;
        }
    }
}

.active {
    left: 0;
    transition: left 1s ease;
}

@media screen and (min-width: 768px) {
    .sidebar {
        width: 12.5%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #4D64DA;
        transition: none;
    
        .overlay {

            .sidebar-header {

                .header-avatar {
                    padding-top: 1.875rem;
                    
                    .avatar-pic {
                        width: 2.25rem;
                        height: 2.25rem;
                    }
    
                    h6 {
                        font-size: 0.875rem;
                    }
                }
            }

            .sidebar-main {
                margin-top: 6.375rem;
    
                .main-content:first-child {
                    margin-bottom: 2rem;
                }
            }

            .close-btn {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 991px) {
    .sidebar {
        width: 12.5%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #4D64DA;
        transition: none;
    
        .overlay {

            .sidebar-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1.875rem 0.5rem 0;

                .header-avatar {
                    padding-top: 0;
                    flex-direction: row;
                    align-items: center;
                    
                    .avatar-pic {
                        width: 2.25rem;
                        height: 2.25rem;
                    }
    
                    h6 {
                        margin: 0 0 0 0.1rem;
                    }
                }

                .header-menu {
                    display: block;

                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }
            }

            .sidebar-main {
    
                .main-content {
                    margin-left: 0.5rem;
                    justify-content: unset;
                    cursor: pointer;
    
                    .content-icon {
                        margin-right: 0.5rem;
                      
                        img {
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                    }
    
                    h5 {
                        display: block;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 0.875rem;
                        font-weight: 400;
                        color: #FFF;
                    }

                    .content-cus {
                        font-weight: 600;
                    }

                    &:hover {

                        h5 {
                            font-weight: 600;
                        }
                    }
                }
    
                .main-content:first-child {
                    margin-bottom: 2rem;
                }
            }

            .close-btn {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .sidebar {
    
        .overlay {

            .sidebar-header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1.875rem 1.875rem 0;

                .header-avatar {
                    padding-top: 0;
                    flex-direction: row;
                    align-items: center;
                    
                    .avatar-pic {
                        width: 2.25rem;
                        height: 2.25rem;
                    }
    
                    h6 {
                        margin: 0 0 0 0.5rem;
                    }
                }

                .header-menu {
                    display: block;

                    img {
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }
            }

            .sidebar-main {
    
                .main-content {
                    margin-left: 1.875rem;
                    justify-content: unset;
    
                    .content-icon {
                        margin-right: 0.625rem;
                      
                        img {
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                    }
    
                    h5 {
                        display: block;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 0.875rem;
                        font-weight: 400;
                        color: #FFF;
                    }

                    .content-cus {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}