//overlay color
$overlay-color: rgba(91,91,91,0.6);

//text color
$white: #fff;
$header-text-gray: rgba(255,255,255,0.5);
$label-color: #C1C1C1;

//main content color
$main-color-1: #1A1A1A;
$black-2: #2E2E2E;
$header-color: rgba(26,26,26,0.5);

//sidebar color
$blue: #4D64DA;

//border color
$input-border-bottom: #5B5B5B;
$header-border-bottom: rgba(255,255,255,0.3);
$btn-cancel-border: #9F9F9F;