@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
.sidebar {
  width: 12.5%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  transition: left 1s ease-in-out;
  background-color: #4D64DA;
}
.sidebar .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(91, 91, 91, 0.6);
}
.sidebar .overlay .sidebar-header .header-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}
.sidebar .overlay .sidebar-header .header-avatar .avatar-pic {
  width: 1.8rem;
  height: 1.8rem;
  background-color: #FFFFFF;
  border-radius: 50%;
  cursor: pointer;
}
.sidebar .overlay .sidebar-header .header-avatar h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: 0.0125rem;
  line-height: 1.0625rem;
  margin-top: 0.5rem;
}
.sidebar .overlay .sidebar-header .header-menu {
  display: none;
}
.sidebar .overlay .sidebar-main {
  margin-top: 5rem;
}
.sidebar .overlay .sidebar-main .main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar .overlay .sidebar-main .main-content .content-icon img {
  width: 1.5rem;
  height: 1.5rem;
}
.sidebar .overlay .sidebar-main .main-content h5 {
  display: none;
}
.sidebar .overlay .sidebar-main .main-content:first-child {
  margin-bottom: 2rem;
}
.sidebar .overlay .close-btn {
  position: absolute;
  bottom: 1%;
  left: 35%;
  color: white;
}

.active {
  left: 0;
  transition: left 1s ease;
}

@media screen and (min-width: 768px) {
  .sidebar {
    width: 12.5%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4D64DA;
    transition: none;
  }
  .sidebar .overlay .sidebar-header .header-avatar {
    padding-top: 1.875rem;
  }
  .sidebar .overlay .sidebar-header .header-avatar .avatar-pic {
    width: 2.25rem;
    height: 2.25rem;
  }
  .sidebar .overlay .sidebar-header .header-avatar h6 {
    font-size: 0.875rem;
  }
  .sidebar .overlay .sidebar-main {
    margin-top: 6.375rem;
  }
  .sidebar .overlay .sidebar-main .main-content:first-child {
    margin-bottom: 2rem;
  }
  .sidebar .overlay .close-btn {
    display: none;
  }
}
@media screen and (min-width: 991px) {
  .sidebar {
    width: 12.5%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #4D64DA;
    transition: none;
  }
  .sidebar .overlay .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.875rem 0.5rem 0;
  }
  .sidebar .overlay .sidebar-header .header-avatar {
    padding-top: 0;
    flex-direction: row;
    align-items: center;
  }
  .sidebar .overlay .sidebar-header .header-avatar .avatar-pic {
    width: 2.25rem;
    height: 2.25rem;
  }
  .sidebar .overlay .sidebar-header .header-avatar h6 {
    margin: 0 0 0 0.1rem;
  }
  .sidebar .overlay .sidebar-header .header-menu {
    display: block;
  }
  .sidebar .overlay .sidebar-header .header-menu img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .sidebar .overlay .sidebar-main .main-content {
    margin-left: 0.5rem;
    justify-content: unset;
    cursor: pointer;
  }
  .sidebar .overlay .sidebar-main .main-content .content-icon {
    margin-right: 0.5rem;
  }
  .sidebar .overlay .sidebar-main .main-content .content-icon img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .sidebar .overlay .sidebar-main .main-content h5 {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: #FFF;
  }
  .sidebar .overlay .sidebar-main .main-content .content-cus {
    font-weight: 600;
  }
  .sidebar .overlay .sidebar-main .main-content:hover h5 {
    font-weight: 600;
  }
  .sidebar .overlay .sidebar-main .main-content:first-child {
    margin-bottom: 2rem;
  }
  .sidebar .overlay .close-btn {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .sidebar .overlay .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.875rem 1.875rem 0;
  }
  .sidebar .overlay .sidebar-header .header-avatar {
    padding-top: 0;
    flex-direction: row;
    align-items: center;
  }
  .sidebar .overlay .sidebar-header .header-avatar .avatar-pic {
    width: 2.25rem;
    height: 2.25rem;
  }
  .sidebar .overlay .sidebar-header .header-avatar h6 {
    margin: 0 0 0 0.5rem;
  }
  .sidebar .overlay .sidebar-header .header-menu {
    display: block;
  }
  .sidebar .overlay .sidebar-header .header-menu img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .sidebar .overlay .sidebar-main .main-content {
    margin-left: 1.875rem;
    justify-content: unset;
  }
  .sidebar .overlay .sidebar-main .main-content .content-icon {
    margin-right: 0.625rem;
  }
  .sidebar .overlay .sidebar-main .main-content .content-icon img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .sidebar .overlay .sidebar-main .main-content h5 {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: #FFF;
  }
  .sidebar .overlay .sidebar-main .main-content .content-cus {
    font-weight: 600;
  }
}
.main {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #1A1A1A;
}
.main .main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: rgba(26, 26, 26, 0.5);
  border-bottom: 0.25px solid rgba(255, 255, 255, 0.3);
}
.main .main-header .header-menu img {
  width: 1.5rem;
  height: 1.5rem;
}
.main .main-header .header-customer {
  font-family: "Montserrant", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 15%;
  margin-left: 0.5rem;
}
.main .main-header .header-task {
  display: flex;
  justify-content: space-between;
  flex: 0 0 30%;
  align-items: center;
  margin: 0 0rem 0 5rem;
}
.main .main-header .header-task .task-searching .search-icon img {
  width: 1.5rem;
  height: 1.5rem;
}
.main .main-header .header-task .task-searching .input {
  display: none;
}
.main .main-header .header-task .task-profile {
  background-color: #2E2E2E;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}
.main .main-header .header-task .task-profile .profile-info {
  display: none;
}
.main .main-header .header-task .task-profile .profile-img img {
  width: 2rem;
  height: 2rem;
}

@media screen and (min-width: 375px) {
  .main .main-header .header-customer {
    margin-left: -3rem;
  }
  .main .main-header .header-task {
    flex: 0 0 25%;
  }
}
@media screen and (min-width: 425px) {
  .main .main-header .header-customer {
    margin-left: -5rem;
  }
  .main .main-header .header-task {
    flex: 0 0 25%;
  }
}
@media screen and (min-width: 768px) {
  .main {
    margin-left: 12.5%;
    width: calc(100% - 12.5%);
    height: 100%;
    color: white;
    background-color: #1A1A1A;
  }
  .main .main-header {
    padding: 1.3125rem 4.75rem;
  }
  .main .main-header .header-menu {
    display: none;
  }
  .main .main-header .header-customer {
    font-size: 1.3125rem;
    margin-left: 0;
    letter-spacing: 0.0015rem;
  }
  .main .main-header .header-task {
    flex: 0 0 40%;
    align-items: center;
    margin: 0;
  }
  .main .main-header .header-task .task-searching {
    margin-right: 1rem;
  }
  .main .main-header .header-task .task-searching .input {
    display: none;
  }
  .main .main-header .header-task .task-profile {
    background-color: #2E2E2E;
    padding: 0.544375rem 1.0625rem 0.481875rem 3.369375rem;
    border-radius: 32.5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 14.625rem;
    height: 3.375rem;
  }
  .main .main-header .header-task .task-profile .profile-info {
    display: block;
    margin-right: 1.568125rem;
  }
  .main .main-header .header-task .task-profile .profile-info h6, .main .main-header .header-task .task-profile .profile-info p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    line-height: 17px;
  }
  .main .main-header .header-task .task-profile .profile-info h6 {
    font-weight: 700;
    color: #fff;
  }
  .main .main-header .header-task .task-profile .profile-info p {
    text-align: right;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
  }
  .main .main-header .header-task .task-profile .profile-img img {
    width: 2rem;
    height: 2rem;
  }
}
@media screen and (min-width: 991px) {
  .main {
    margin-left: 12.5%;
    width: calc(100% - 12.5%);
    height: 100vh;
    color: white;
    background-color: #1A1A1A;
  }
  .main .main-header .header-customer {
    font-size: 1.3125rem;
    margin-left: 0;
    letter-spacing: 0.0015rem;
  }
  .main .main-header .header-task {
    flex: none;
    align-items: center;
    margin: 0;
  }
  .main .main-header .header-task .task-searching {
    margin-right: 1rem;
  }
  .main .main-header .header-task .task-searching .input {
    display: none;
  }
  .main .main-header .header-task .task-profile {
    background-color: #2E2E2E;
    padding: 0.544375rem 1.0625rem 0.481875rem 3.369375rem;
    border-radius: 32.5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 14.625rem;
    height: 3.375rem;
  }
  .main .main-header .header-task .task-profile .profile-info {
    display: block;
    margin-right: 1.568125rem;
  }
  .main .main-header .header-task .task-profile .profile-info h6, .main .main-header .header-task .task-profile .profile-info p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    line-height: 17px;
  }
  .main .main-header .header-task .task-profile .profile-info h6 {
    font-weight: 700;
    color: #fff;
  }
  .main .main-header .header-task .task-profile .profile-img img {
    width: 2rem;
    height: 2rem;
  }
}
.main .main-content .content-add-btn {
  margin: 1.5rem 0 0 3rem;
}
.main .main-content .content-add-btn button {
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.0125rem;
  color: #fff;
  outline: none;
  border: 2px solid #4D64DA;
  border-radius: 38px;
  background: #4D64DA;
  padding: 0.2rem 1rem;
  vertical-align: baseline;
  cursor: pointer;
}
.main .main-content .content-add-btn button img {
  width: 1.2rem;
  height: 1.2rem;
}
.main .main-content .content-details .details-header {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: repeat(4, 1fr);
  padding: 0 1rem;
  margin-top: 3rem;
}
.main .main-content .content-details .details-header .checkbox {
  grid-row: 1/5;
  margin: auto;
}
.main .main-content .content-details .details-header .name, .main .main-content .content-details .details-header .email, .main .main-content .content-details .details-header .phone, .main .main-content .content-details .details-header .source {
  font-family: "Nunito", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  border-bottom: 0.5px solid #fff;
  padding: 0.5rem;
}
.main .main-content .content-details .details-header .phone, .main .main-content .content-details .details-header .source {
  grid-column: 2;
}
.main .main-content .content-details .details-item {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: repeat(4, 1fr);
  padding: 0 1rem;
  margin-top: 2rem;
}
.main .main-content .content-details .details-item .checkbox {
  grid-row: 1/5;
  margin: auto;
}
.main .main-content .content-details .details-item .name, .main .main-content .content-details .details-item .email, .main .main-content .content-details .details-item .phone, .main .main-content .content-details .details-item .source {
  font-family: "Nunito", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  padding: 0.5rem;
}
.main .main-content .content-details .details-item .name {
  display: flex;
  align-items: center;
}
.main .main-content .content-details .details-item .name img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

@media screen and (min-width: 768px) {
  .main .main-content .content-add-btn {
    margin: 1.5rem 0 0 4.75rem;
  }
  .main .main-content .content-add-btn button {
    font-size: 0.875rem;
    padding: 0.5rem 2.25rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
  }
  .main .main-content .content-add-btn button img {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: bottom;
    margin-left: 0.625rem;
  }
  .main .main-content .content-add-btn button:hover {
    color: #4D64DA;
    border: 2px solid #fff;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
  }
  .main .main-content .content-add-btn button:hover img {
    background-color: #4D64DA;
  }
  .main .main-content .content-details .details-header .checkbox input[type=checkbox] {
    height: 1rem;
  }
  .main .main-content .content-details .details-header .name, .main .main-content .content-details .details-header .email, .main .main-content .content-details .details-header .phone, .main .main-content .content-details .details-header .source {
    font-size: 1.0625rem;
  }
  .main .main-content .content-details .details-item .checkbox input[type=checkbox] {
    height: 1rem;
  }
  .main .main-content .content-details .details-item .name, .main .main-content .content-details .details-item .email, .main .main-content .content-details .details-item .phone, .main .main-content .content-details .details-item .source {
    font-size: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .main .main-content .content-add-btn {
    margin: 1.5rem 0 0 4.75rem;
  }
  .main .main-content .content-add-btn button {
    font-size: 0.875rem;
    padding: 0.5rem 2.25rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
  }
  .main .main-content .content-add-btn button img {
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: bottom;
    margin-left: 0.625rem;
  }
  .main .main-content .content-add-btn button:hover {
    color: #4D64DA;
    border: 2px solid #fff;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
  }
  .main .main-content .content-add-btn button:hover img {
    background-color: #4D64DA;
  }
  .main .main-content .content-details .details-header {
    display: grid;
    grid-template-columns: 8% 26% 35% 17% 15%;
    grid-template-rows: unset;
    margin: 1.5rem 4.75rem 0;
    padding: 0;
  }
  .main .main-content .content-details .details-header .checkbox {
    width: 100%;
    height: 100%;
    border-bottom: 0.5px solid #fff;
  }
  .main .main-content .content-details .details-header .checkbox input {
    width: 100%;
    margin: -0.2rem auto;
    vertical-align: bottom;
  }
  .main .main-content .content-details .details-header .phone, .main .main-content .content-details .details-header .source, .main .main-content .content-details .details-header .checkbox {
    grid-column: unset;
    grid-row: unset;
  }
  .main .main-content .content-details .details-header .phone, .main .main-content .content-details .details-header .source, .main .main-content .content-details .details-header .email, .main .main-content .content-details .details-header .name {
    padding-left: 1rem;
    border-left: 0.5px solid #fff;
  }
  .main .main-content .content-details .details-item {
    display: grid;
    grid-template-columns: 8% 26% 35% 17% 15%;
    grid-template-rows: unset;
    margin: 0.5rem 4.75rem 0;
    padding: 0;
  }
  .main .main-content .content-details .details-item .checkbox {
    width: 100%;
    height: 100%;
  }
  .main .main-content .content-details .details-item .checkbox input {
    width: 100%;
    margin: -0.8rem auto;
    vertical-align: bottom;
  }
  .main .main-content .content-details .details-item .phone, .main .main-content .content-details .details-item .source, .main .main-content .content-details .details-item .checkbox {
    grid-column: unset;
    grid-row: unset;
  }
  .main .main-content .content-details .details-item .phone, .main .main-content .content-details .details-item .source, .main .main-content .content-details .details-item .email, .main .main-content .content-details .details-item .name {
    padding: 1.125rem 0 1.125rem 1rem;
  }
  .main .main-content .content-details .details-item:hover {
    background-color: #2E2E2E;
    border-radius: 36px;
  }
  .main .main-content .content-details .first-item {
    margin-top: 1.5rem;
  }
}
@media screen and (min-width: 1440px) {
  .main .main-content .content-details .details-header .phone, .main .main-content .content-details .details-header .source, .main .main-content .content-details .details-header .email, .main .main-content .content-details .details-header .name {
    padding-left: 3.25rem;
    border-left: 0.5px solid #fff;
  }
  .main .main-content .content-details .details-item .phone, .main .main-content .content-details .details-item .source, .main .main-content .content-details .details-item .email, .main .main-content .content-details .details-item .name {
    padding: 1.125rem 0 1.125rem 3.25rem;
  }
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6,
a,
p, ul, li {
  margin-bottom: 0;
}/*# sourceMappingURL=style.css.map */