//import font Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

//import font Nunito
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

//import file variable
@import "./variable";

//import file for dashboard
@import "./sidebar";
@import "./main";
@import "./main-content";
@import "./client-details";
@import "./client-details-2";

//import file for main-1 
@import "./main-1";
@import "./footer";


*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6,
a,
p, ul, li,
label {
    margin-bottom: 0;
}

